<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Listagem de Pessoas
        <small></small>
      </h1>
    </section>
  
    <!-- Main content -->
    <section class="content">
      
        <div class="panel panel-default">
          <div class="panel-heading">Pessoas</div>
          <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">#</th>
                            <th class="text-center">TP</th>
                            <th>Razão Social/Nome</th>
                            <th>CPF/CNPJ</th>
                            <th>Responsável</th>
                            <th class="text-center" style="width: 150px;">Última Alteração</th>
                            <th class="text-center" style="width: 150px;">Ação</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pessoa of pessoas">       
                          <td class="text-center">{{pessoa.id}}</td>
                          <td class="text-center">{{pessoa.tipoPessoa}}</td>
                          <td>{{pessoa.nome}}</td>
                          <td class="text-center">{{pessoa.cpf || pessoa.cnpj}}</td>
                          <td>{{pessoa.responsavel}}</td>
                          <td class="text-center">{{ pessoa.dataAlteracao | date:'dd/MM/yyyy' }}</td>
                          <td class="text-center">
                            <a routerLink="/admin/endereco/{{pessoa.id}}" title="Visualizar Endereços" class="btn-sm btn-default">
                              <i class="fa fa-address-card"></i>
                            </a>

                            <a routerLink="/admin/pessoa-form/{{pessoa.id}}" title="Editar Pessoa" class="btn-sm btn-default">
                              <i class="fa fa-pencil"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <button class="btn btn-warning" (click)="formCadastro()" title="Adiciona nova pessoa">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Adicionar Pessoa
                  </button>
              </div>
            </div>
          </div>
        </div>
    </section>
</div>