<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU PRINCIPAL</li>
      <li class="active treeview">
        <a href="#">
            <i class="fa fa-group text-orange"></i> <span>CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a routerLink="pessoa"><i class="fa fa-user"></i>Pessoa</a></li>
          <li class="active"><a routerLink="lead"><i class="fa fa-user"></i>Lead</a></li>
          <li class="active"><a routerLink="contrato"><i class="fa fa-file-text-o"></i>Contratos</a></li>
          <li class="active"><a routerLink="os"><i class="fa fa-file-text-o"></i>OS</a></li>
          <li class="active"><a routerLink="agenda"><i class="fa fa-file-text-o"></i>Agenda</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-user-circle text-olive"></i> <span>Usuários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a routerLink="departamento"><i class="fa fa-fw fa-eye"></i>Departamentos</a></li>
          <li class="active"><a routerLink="usuario"><i class="fa fa-fw fa-male"></i>Usuários</a></li>
          <li class="active"><a routerLink="alterar-senha"><i class="fa fa-fw fa-lock"></i>Alterar Senha</a></li>
        </ul>
      </li>
      
      <li class="treeview">
        <a href="#">
            <i class="fa fa-fw fa-usd text-olive"></i> <span>Financeiro</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a routerLink="formas-pagamento"><i class="fa fa-fw fa-eye"></i>Formas de Pagamento</a></li>
          <li class="active"><a routerLink="ativacao"><i class="fa fa-fw fa-tasks"></i>Ativação</a></li>
          <li class="active"><a routerLink="promocoes"><i class="fa fa-fw fa-shopping-cart"></i>Promoções</a></li>
          <li class="active"><a routerLink="faturamento"><i class="fa fa-fw fa-credit-card"></i>Faturamento</a></li>
          <li class="active"><a routerLink="contas-receber"><i class="fa fa-fw fa-money"></i>Contas a Receber</a></li>
          <li class="active"><a routerLink="bancos"><i class="fa fa-fw fa-bank"></i>Bancos</a></li>
          <li class="active"><a routerLink="Empresa"><i class="fa fa-fw fa-bank"></i>Empresa</a></li>
        </ul>
        <ul class="treeview-menu">
            <li>
              <a href="#"><i class="fa fa-barcode"></i> CRM
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-fw fa-arrow-circle-right"></i> Remessa</a></li>
                <li><a href="#"><i class="fa fa-fw fa-arrow-circle-right"></i> Retorno</a></li>
              </ul>
            </li>
          </ul>
      </li>


      <li class="treeview">
          <a href="#">
              <i class="fa fa-fw fa-cogs text-red"></i> <span>Painel de Controle</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>

            <ul class="treeview-menu">
              <li>
                <a href="#"><i class="fa fa-fw fa-list-alt"></i> OS
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-fw fa-tag"></i> Tipos</a></li>
                  <li><a href="#"><i class="fa fa-fw fa-tag"></i> Status</a></li>
                </ul>
              </li>
            </ul>

            <ul class="treeview-menu">
              <li>
                <a href="#"><i class="fa fa-fw fa-list-alt"></i> Endereço
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-fw fa-home"></i> Bairros</a></li>
                  <li><a href="#"><i class="fa fa-fw fa-tag"></i> Cidades</a></li>
                </ul>
              </li>
            </ul>

            <ul class="treeview-menu">
                <li class="active"><a routerLink="canal"><i class="fa fa-fw fa-tag"></i>Canais</a></li>
                <li class="active"><a routerLink="faixa-etaria"><i class="fa fa-fw fa-tags"></i>Faixa Etárias</a></li>
                <li class="active"><a routerLink="motivo"><i class="fa fa-fw fa-map-marker"></i>Motivos</a></li>
                <li class="active"><a routerLink="operadoras"><i class="fa fa-fw fa-camera"></i>Operadoras</a></li>
                <li class="active"><a routerLink="origem"><i class="fa fa-fw fa-file"></i>Origens</a></li>
                <li class="active"><a routerLink="plano"><i class="fa fa-fw fa-list-alt"></i>Planos</a></li>
                <li class="active"><a routerLink="produto-plano"><i class="fa fa-fw fa-lock"></i>Produtos do plano</a></li>
                <li class="active"><a routerLink="tecnologia"><i class="fa fa-fw fa-flag"></i>Tecnologias</a></li>
                <li class="active"><a routerLink="tipo-comunicacao"><i class="fa fa-fw fa-headphones"></i>Tipos de Comunicação</a></li>
                <li class="active"><a routerLink="tipo-usuario"><i class="fa fa-fw fa-user"></i>Tipos de Usuários</a></li>
                <li class="active"><a routerLink="usos-internet"><i class="fa fa-fw fa-camera"></i>Usos da Internet</a></li>
                <li class="active"><a routerLink="velocidades"><i class="fa fa-fw fa-flash"></i>Velocidades</a></li>
            </ul>
        </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
