<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pessoa
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
      
        <div class="panel panel-default">
          <div class="panel-heading">Dados</div>
          <div class="panel-body">
              <div class="row">
                  <div class="form-group col-md-3">
                      <label for="">Tipo de Pessoa:</label>
                      <select name="pessoa.tipoPessoa" class="form-control" [(ngModel)]="pessoa.tipoPessoa">
                        <option value="PESSOA_FISICA"> Pessoa Física </option>
                        <option value="PESSOA_JURIDICA"> Pessoa Jurídica </option>
                      </select>
                      <span class="hidden"></span>
                    </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4" *ngIf="pessoa.tipoPessoa == 'PESSOA_FISICA'">
                    <label for="pessoa.cpfcnpj">CPF: </label>
                    <input id="pessoa.cpf" type="text" class="form-control" [(ngModel)]="pessoa.cpf" name="pessoa.cpf" placeholder="Digite um CPF">
                  </div>
                  <div class="form-group col-md-4" *ngIf="pessoa.tipoPessoa == 'PESSOA_JURIDICA'">
                    <label for="pessoa.cpnpj">CNPJ: </label>
                    <input id="pessoa.cnpj" type="text" class="form-control" [(ngModel)]="pessoa.cnpj" name="pessoa.cnpj" placeholder="Digite um CNPJ">
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-6">
                    <label for="pessoa.nome">Nome: </label>
                    <input id="pessoa.nome" type="text" class="form-control" [(ngModel)]="pessoa.nome" placeholder="Digite o nome da pessoa" name="pessoa.nome">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="pessoa.responsavel">Responsável: </label>
                    <input id="bairro" type="text" class="form-control" [(ngModel)]="pessoa.responsavel" placeholder="Digite o nome do responsável" name="pessoa.responsavel">
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <label for="pessoa.cargo">Cargo: </label>
                    <input id="pessoa.cargo" type="text" class="form-control" [(ngModel)]="pessoa.cargo" name="pessoa.cargo" placeholder="Digite o Cargo">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="pessoa.setor">Setor: </label>
                      <input id="pessoa.setor" type="text" class="form-control" [(ngModel)]="pessoa.setor" name="pessoa.setor" placeholder="Digite o Setor">
                    </div>
              </div>
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Contato</div>
            <div class="panel-body">
              <div class="row">
                  <div class="form-group col-md-4">
                    <label for="pessoa.email">Email: </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input id="pessoa.email" type="text" class="form-control" [(ngModel)]="pessoa.email" name="pessoa.email" placeholder="Digite o email">
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="form-group col-md-3">
                    <label for="pessoa.email">Telefone: </label>
                    <div class="input-group phone-input" style="margin-bottom:6px;">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">Tipo</span> <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a class="changeType" href="javascript:;" data-type-value="titular">Titular</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="conjuge">Cônjuge</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="filho">Filho(a)</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="pais">Pais</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="vizinho">Vizinho</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="funcionario">Funcionário</a></li>
                            <li><a class="changeType" href="javascript:;" data-type-value="outros">Outros</a></li>
                          </ul>
                        </span>
                        <input name="pessoa.telefone" class="form-control" [(ngModel)]="pessoa.telefone">
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="pessoa.">Nome Contato: </label>
                    <input id="pessoa.nomeContato" type="text" class="form-control" [(ngModel)]="pessoa.nomeContato" name="pessoa.nomeContato" placeholder="Digite o email">
                </div>

              </div>
              
              <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-success">+ Telefone</button>
                </div>
              </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Outros</div>
            <div class="panel-body">
              <div class="row">
                  <div class="form-group col-md-3">
                      <label for="">Status:</label>
                      <select name="pessoa.status" class="form-control" [(ngModel)]="pessoa.status">
                        <option value="ATIVO"> ATIVO </option>
                        <option value="INATIVO"> INATIVO </option>
                      </select>
                      <span class="hidden"></span>
                    </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center m-t-20">
              <button class="btn btn-success" (click)="salvarPessoa()">Salvar</button>
              <button class="btn btn-danger" (click)="voltar()" >Cancelar</button>
            </div>
        </div>
    </section>
</div>